.wrapper {
  display: flex;
  height: 100vh;
  min-height: 600px;
  
  --header-height: 88px;
  --footer-height: 88px;
  --footer-height-xs: 124px;
  --footer-height-xxs: 158px;
  --common-img-width: 328px;
  --common-text-width: 128px;
  --common-text-width-xs: 64px;
}

.main {
  margin-top: 88px;
  height: calc(100% - var(--header-height) - var(--footer-height));
  padding: 32px;
  display: flex;
  justify-content: center;
}

.header {
  height: var(--header-height);
  width: calc(100% - (var(--common-img-width) + var(--common-text-width)));
  display: flex;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--background-color);
  justify-content: space-between;
  padding: 8px 8px 0 8px;
}

.pageTitle, .navAndBattery {
  display: flex;
  align-items: flex-end;
}

.pageTitle h1 {
  margin-right: 8px;
}

.pageTitle span {
  font-size: 16px;
  margin-right: 4px;
}

.pageTitle h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.navAndBattery nav {
  text-align: end;
  margin-right: 8px;
}

.commonSection {
  width: calc(var(--common-text-width) + var(--common-img-width));
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.commonImage {
  width: var(--common-img-width);
  height: 100%;
  position: relative;
  border-right: 1px solid black;
  background-color: var(--background-color);
}

.commonImage > img {
  object-fit: cover;
  mix-blend-mode: multiply;
}

.commonText {
  width: var(--common-text-width);
  height: 100%;
  border-right: 1px solid black;
  position: relative;
}

.commonText *:first-child  {
  display: block;
  font-size: 64px;
  transform: rotate(90deg);
  white-space: nowrap;
  margin-top: 50%;
}

.commonText *:last-child {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.pageSection {
  margin-left: 456px;
  width: calc(100% - 456px);
  position: relative;
}

.homeFigureWrapper {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}

.homeFigure {
  width: 60%;
}

.homeFigure img {
  max-width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  padding: 8px;
}

.credits {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.externalLinks {
  display: flex;
  align-items: flex-end;
}

.externalLinks a {
  width: 24px;
  height: 24px;
}

.externalLinks *:first-child {
  margin-right: 8px;
}

@media (max-height: 549px) {
  .hexaYear {
    visibility: hidden;
  }
}

@media (max-width: 1000px) {
  .commonSection {
    width: var(--common-text-width);
  }

  .commonImage {
    display: none;
    visibility: hidden;
  }

  .header, .pageSection {
    width: calc(100% - var(--common-text-width));
  }

  .pageSection {
    margin-left: var(--common-text-width);
  }
}

@media (max-width: 1400px) {
  .homeFigure {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .pageTitle h1 {
    position: absolute;
    top: -9999px;
  }

  .commonSection, .commonText {
    width: var(--common-text-width-xs);
  }

  .commonText *:first-child {
    font-size: 32px;
  }

  .commonText *:last-child {
    font-size: 12px;
  }

  .header, .pageSection {
    width: calc(100% - var(--common-text-width-xs));
  }

  .pageTitle span {
    margin-right: 0;
  }

  .pageSection {
    margin-left: var(--common-text-width-xs);
  }

  .externalLinks {
    flex-direction: column;
    justify-content: flex-end;
  }

  .externalLinks *:first-child {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

@media (max-width: 420px) {
  .main {
    height: calc(100% - var(--header-height) - var(--footer-height-xs));
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: var(--footer-height-xs);
    align-items: flex-start;
  }

  .externalLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
  }

  .externalLinks *:first-child {
    margin-right: 8px;
    margin-bottom: 0;
  }
}

@media (max-width: 280px) {
  .main {
    height: calc(100% - var(--header-height) - var(--footer-height-xxs));
  }

  .footer {
    height: var(--footer-height-xxs);
  }
}