.main {
  margin-top: var(--header-height);
  padding: 32px;
  display: flex;
  justify-content: center;
  flex-grow: 1;

  .figureWrapper {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;

    figure {
      width: 80%;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px;

  .credits {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .externalLinks {
    display: flex;
    align-items: flex-end;

    a {
      width: 24px;
      height: 24px;
    }

    *:first-child {
      margin-right: 8px;
    }
  }

  @media (max-width: 500px) {
    .externalLinks {
      flex-direction: column;
      justify-content: flex-end;
  
      *:first-child {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }
  }

  @media (max-width: 420px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .externalLinks {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 16px;

      *:first-child {
        margin-right: 8px;
        margin-bottom: 0;
      }
    }
  }
}